---
---
<!doctype html>
<html lang='en'>
    <head>
        {% include header.html %}
        <title>
            Fritz Agildere
        </title>
    </head>
    <body>
        {% include navigation.html %}
        <main class='wrapper'>
            <h2>Home</h2>
            <p>
                Welcome! My name is Fritz Ali Agildere, I study physics with a special interest in astronomy and cosmology, but
                regularly get distracted by various other topics. On this blog, I plan to document my work, organize my thoughts
                and learn some basic webdesign in the process.
            </p>
        </main>
    </body>
</html>
