---
---
<!doctype html>
<html lang='en'>
    <head>
        {% include header.html %}
    </head>
    <body>
        {% include navigation.html %}
        <div class='main'>
            <h2>Home</h2>
            <p>
                Welcome to this blog! My name is Fritz Ali Agildere, I study physics with a special interest in astronomy and cosmology,
                but regularly get distracted by various other topics. Here, I plan to document my work, organize my thoughts and
                learn some basic webdesign in the process.
            </p>
    </body>
</html>
