@font-face {
    font-family: "Inter Normal";
    src: url("fonts/Inter/Inter-Variable-Normal.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Inter Italic";
    src: url("fonts/Inter/Inter-Variable-Italic.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}

* {
    font-family: "Inter Normal", sans-serif;
    font-weight: 275;
}

body {
	--alt: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 95%);
    --fg: hsl(0, 0%, 25%);
    background-color: var(--bg);
    color: var(--fg);
    transition: 250ms;
}

body:has(#dark:checked) {
	--alt: hsl(0, 0%, 95%);
    --bg: hsl(0, 0%, 5%);
    --fg: hsl(0, 0%, 75%);
    transition: 250ms;
}

.dark-light-icon circle,
.dark-light-icon path,
.dark-light-icon rect {
    transition: all 250ms ease-in-out;
    fill: var(--alt);
}

.dark-light-icon:hover .disk {
    transform: scale(1.125);
}

.dark-light-icon:hover .ray {
    x: 5%;
}

body:has(#dark:checked) .dark-light-icon .disk {
    r: 7.5%;
}

body:has(#dark:checked) .dark-light-icon .ray {
	width: 10%;
    x: 45%;
}

body:has(#dark:checked) .dark-light-icon .crescent {
    transform: scale(1.25) translate(1.25px, 0);
}

body:has(#dark:checked) .dark-light-icon:hover .crescent {
    transform: scale(1.375) translate(1.25px, 0);
}

.switch {
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
