@font-face {
    font-family: "Inter Normal";
    src: url("fonts/Inter/Inter-Variable-Normal.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Inter Italic";
    src: url("fonts/Inter/Inter-Variable-Italic.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}

* {
    font-family: "Inter Normal", sans-serif;
    font-weight: 275;
}

body {
    --alt: hsl(0, 0%, 5%);
	--nav: hsl(0, 0%, 75%);
    --bg: hsl(0, 0%, 95%);
    --fg: hsl(0, 0%, 25%);
    --time: 250ms;
    background-color: var(--bg);
    color: var(--fg);
    transition: var(--time);
}

body:has(#dark:checked) {
	--alt: hsl(0, 0%, 95%);
	--nav: hsl(0, 0%, 25%);
    --bg: hsl(0, 0%, 5%);
    --fg: hsl(0, 0%, 75%);
    transition: var(--time);
}

.dark-light-icon path {
    transition: all var(--time) ease-in-out;
    fill: var(--alt);
}

.dark-light-icon:hover .disk {
    d: path("M 30 50 a 20 20 0 0 1 40 0 a 20 20 0 0 1 -40 0 Z");
}

.dark-light-icon:hover .ray {
    d: path("M 10 55 a 5 5 0 0 1 0 -10 h 15 0 v 0 10 Z");
}

body:has(#dark:checked) .dark-light-icon .ray {
    d: path("M 45 55 a 5 5 0 0 1 0 -10 h 15 0 v 0 10 Z");
}

.dark-light-icon .star {
    transform: scale(0.0);
}

body:has(#dark:checked) .dark-light-icon .star {
    transform: scale(0.9);
}

body:has(#dark:checked) .dark-light-icon:hover .star {
    transform: scale(0.8);
}

.switch {
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav);
}

li {
  float: left;
}

li a {
  font-weight: 550;
  display: block;
  color: var(--fg);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
+/
