@font-face {
    font-family: "Inter Normal";
    src: url("content/font/Inter-Variable-Normal.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Inter Italic";
    src: url("content/font/Inter-Variable-Italic.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}

* {
    font-family: "Inter Normal", sans-serif;
    font-weight: 275;
}

body {
    --bg: hsla(0, 0%, 95%, 1);
    --fg: hsla(0, 0%, 15%, 1);
    background-color: var(--bg);
    color: var(--fg);
}

.navigation {
    top: 0;
    width: 100%;
    height: 99pt;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(to top, hsla(0, 0%, 95%, 0), hsla(0, 0%, 95%, 0.5), var(--bg), var(--bg));
}

.navigation a {
    font-weight: 350;
    color: var(--fg);
    display: inline-flex;
    float: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 10pt 5pt;
}

.navigation a:hover {
    font-weight: 425;
    cursor: pointer;
}

.navigation a::after {
    font-weight: 425;
    content: attr(pseudo);
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}

.navigation .dropdown {
    display: inline-block;
    position: relative;
}

.navigation .dropdown .menu {
    display: none;
    position: fixed;
    width: 84pt;
    margin-top: -5pt;
    background-color: var(--bg);
}

.navigation .dropdown .menu a {
    display: block;
    color: var(--fg);
    text-align: left;
    text-decoration: none;
    padding: 5pt 5pt;
}

.navigation .dropdown:hover .menu {
    display: block;
}

.main {
    max-width: 90%;
    margin-top: 55pt;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.main h1 a ,
.main h2 a ,
.main h3 a {
    color: var(--fg);
    text-decoration: none;
}
