@font-face {
    font-family: "Inter Normal";
    src: url("fonts/Inter/Inter-Variable-Normal.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}
@font-face {
    font-family: "Inter Italic";
    src: url("fonts/Inter/Inter-Variable-Italic.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}

* {
    font-family: "Inter Normal", sans-serif;
    font-weight: 275;
    color: #404040;
}
