@font-face {
    font-family: "Inter Normal";
    src: url("fonts/Inter/Inter-Variable-Normal.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}
@font-face {
    font-family: "Inter Italic";
    src: url("fonts/Inter/Inter-Variable-Italic.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}


* {
    font-family: "Inter Normal", sans-serif;
    font-weight: 275;
}


body {
    --mid: hsl(0, 0%, 75%);
    --bg: hsl(0, 0%, 95%);
    --fg: hsl(0, 0%, 25%);
    background-color: var(--bg);
    color: var(--fg);
}
body:has(#dark:checked) {
    --mid: hsl(0, 0%, 25%);
    --bg: hsl(0, 0%, 5%);
    --fg: hsl(0, 0%, 75%);
}


.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mid);
  -webkit-transition: .25s;
  transition: .25s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: var(--bg);
  -webkit-transition: .25s;
  transition: .25s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider {
  border-radius: 28px;
}

.slider:before {
  border-radius: 50%;
}
