@font-face {
    font-family: "Inter Normal";
    src: url("content/font/Inter-Variable-Normal.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}

@font-face {
    font-family: "Inter Italic";
    src: url("content/font/Inter-Variable-Italic.woff2") format("woff2-variations");
    font-stretch: 100% 100%;
    font-style: normal;
    font-weight: 100 900;
    font-optical-sizing: auto;
}



* {
    font-family: "Inter Normal", sans-serif;
    font-weight: 275;
}

body {
    --bg: hsla(0, 0%, 95%, 1);
    --fg: hsla(0, 0%, 15%, 1);
    background-color: var(--bg);
    color: var(--fg);
}



.navigation {
    top: 0;
    width: 100%;
    height: 99pt;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(to top, hsla(0, 0%, 95%, 0), hsla(0, 0%, 95%, 0.5), var(--bg), var(--bg));
}

.navigation a {
    font-weight: 350;
    color: var(--fg);
    display: inline-flex;
    float: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 10pt 5pt;
}

.navigation a:hover {
    font-weight: 425;
    cursor: pointer;
}

.navigation a::after {
    font-weight: 425;
    content: attr(pseudo);
    height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}

.navigation .dropdown {
    display: inline-block;
    position: relative;
}

.navigation .dropdown .menu {
    display: none;
    position: fixed;
    width: 84pt;
    margin-top: -5pt;
    background-color: var(--bg);
}

.navigation .dropdown .menu a {
    display: block;
    color: var(--fg);
    text-align: left;
    text-decoration: none;
    padding: 5pt 5pt;
}

.navigation .dropdown:hover .menu {
    display: block;
}



.main {
    max-width: 90%;
    margin-top: 55pt;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.main h1 a ,
.main h2 a ,
.main h3 a {
    color: var(--fg);
    text-decoration: none;
}



.carousel {
	position: relative;
	display: block;
	width: 600pt;
	height: 400pt;
	overflow: hidden;
}

/* .carousel:before ,
.carousel:after {
	position: absolute;
	z-index: 2;
	width: 15%;
	height: 100%;
    font-weight: 425;
    font-size: 2rem;
	background-color: red;
	color: var(--fg);
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.carousel:before {
	content: '<';
    background-image: linear-gradient(to right, hsla(0, 0%, 95%, 75%), hsla(0, 0%, 95%, 15%));
	left: 0%;
	right: auto;
}

.carousel:after {
	content: '>';
    background-image: linear-gradient(to left, hsla(0, 0%, 95%, 75%), hsla(0, 0%, 95%, 15%));
	left: auto;
	right: 0%;
}

.carousel:hover:before ,
.carousel:hover:after {
	opacity: 0.5;
} */

/* I haven't found a way for IE and Edge to let me style inputs that way */
.carousel input {
	appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	z-index: 1;
}

.carousel input:focus {
	outline: none;
}

/* .carousel input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 1rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1rem;
} */

.carousel input:checked {
	transform: translateX(0);
	pointer-event: none;
	z-index: 0;
}

.carousel input:not(checked):before {
	content: '<';
    font-weight: 425;
    font-size: 1rem;
	color: var(--fg);
	background-color: var(--bg);
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
    aspect-ratio : 1 / 1;
	width: 5%;
	top: 47.5%;
	left: -99.5%;
}

.carousel input:checked + input:before {
	content: '>';
	left: -6.1%;
}

.carousel:hover input:not(checked):before {
	opacity: 1;
}

.carousel:hover input:checked:before {
	opacity: 1;
}

.carousel input:checked:before {
	display: none;
}

.carousel input:checked + input ~ input:before {
	display: none;
}
