---
---
<!doctype html>
<html lang='en'>
    <head>
        {% include header.html %}
    </head>
    <body>
        {% include navigation.html %}
        <div class='main'>
            <h2>Topics</h2>
            <h3><a href='/content/topic/biology.html' pseudo='Biology'>Biology</a></h3>
            <h3><a href='/content/topic/economics.html' pseudo='Economics'>Economics</a></h3>
            <h3><a href='/content/topic/geography.html' pseudo='Photography'>Geography</a></h3>
            <h3><a href='/content/topic/philosophy.html' pseudo='Philosphy'>Philosophy</a></h3>
            <h3><a href='/content/topic/photography.html' pseudo='Photography'>Photography</a></h3>
            <h3><a href='/content/topic/physics.html' pseudo='Physics'>Physics</a></h3>
            <h3><a href='/content/topic/politics.html' pseudo='Politics'>Politics</a></h3>
        </div>
    </body>
</html>
