<nav class='navigation'>
            <div class='container'>
                <a class='home' href='/' pseudo='Home'><h3><b>Fritz Ali</b>&nbsp;Agildere</h3></a>
                <a href='/content/about.html' pseudo='About'>About</a>
                <a href='/content/blog.html' pseudo='Blog'>Blog</a>
                <a href='/content/contact.html' pseudo='Contact'>Contact</a>
                <a href='/content/projects.html' pseudo='Projects'>Projects</a>
                <a href='/content/resume.html' pseudo='Resume'>Résumé</a>
            </div>
        </nav>
