<div class='navigation'>
    <a href='/' pseudo='Home'>Home</a>
    <a href='/content/about.html' pseudo='About'>About</a>
    <a href='/content/contact.html' pseudo='Contact'>Contact</a>
    <a class='dropdown' pseudo='Topics'>Topics</a>
        <div class='menu'>
            <a href='/content/topic/biology.html' pseudo='Biology'>Biology</a>
            <a href='/content/topic/geography.html' pseudo='Photography'>Geography</a>
            <a href='/content/topic/philosophy.html' pseudo='Philosphy'>Philosophy</a>
            <a href='/content/topic/photography.html' pseudo='Photography'>Photography</a>
            <a href='/content/topic/physics.html' pseudo='Physics'>Physics</a>
            <a href='/content/topic/politics.html' pseudo='Politics'>Politics</a>
        </div>
</div>
