svg {
    --bg: hsla(0, 0%, 95%, 1);
    --fg: hsla(0, 0%, 15%, 1);
	--tbg: hsla(0, 0%, 85%, 0.75);
	--tfg: hsla(0, 0%, 25%, 0.75);
	--tra: hsla(0, 0%, 65%, 0.75);
	--hov: hsla(0, 0%, 25%, 1);
}

.world .circlexx ,
.world .subxx ,
.world .noxx {
	fill: var(--tbg);
	stroke: var(--tfg);
}

.world .circlexx:hover ,
.world .subxx:hover ,
.world .noxx:hover {
	fill: var(--tra);
}

.world .landxx ,
.world .limitxx {
	fill: var(--fg);
	stroke: var(--bg);
}

.world .oceanxx {
	fill: var(--bg);
	stroke: var(--fg);
}

.world .landxx:hover ,
.world .limitxx:hover {
	fill: var(--hov);
}
