---
---
<!doctype html>
<html lang='en'>
    <head>
        {% include header.html %}
    </head>
    <body>
        {% include navigation.html %}
        <div class='main'>
            <h2>Nature Photography</h2>
            <h3>Landscapes</h3>
            <div class='carousel'>
                <input checked type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0736.jpg");' title='Random Picture 1'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0737.jpg");' title='Random Picture 2'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0738a.jpg");' title='Random Picture 3'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0738b.jpg");' title='Random Picture 4'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0740.jpg");' title='Random Picture 5'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0748.jpg");' title='Random Picture 6'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0751.jpg");' title='Random Picture 7'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0754.jpg");' title='Random Picture 8'>
            </div>
            <h3>Animals</h3>
        </div>
    </body>
</html>
