---
---
<!doctype html>
<html lang='en'>
    <head>
        {% include header.html %}
    </head>
    <body>
        {% include navigation.html %}
        <div class='main'>
            <h2>Nature Photography</h2>
            <h3>Landscapes</h3>
            <h4>Dawn at the <i>Himmelstreppe</i></h4>
            <p>
            Captured during sunrise on September 22, 2024, atop the <i>Halde Rheinelbe</i> mine dump in <i>Gelsenkirchen-Ückendorf</i> next to the <i>Himmelstreppe</i> sculpture.
            Depicted are views of the surrounding parts of the <i>Ruhrgebiet</i> region, and I particularly like the soft colors as well as the low angle of the morning light.
            </p>
            <div class='carousel'>
                <input checked type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0736.jpg");'
                number='1' total='8' caption='Taken at 07.36h local time.

                Canon EOS 60D @ ISO 100 & 1/80 s
                Canon EF-S 55-250mm ƒ4-5.6 IS STM @ 135mm & ƒ8'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0737.jpg");'
                number='2' total='8' caption='Taken at 07.37h local time.

                Canon EOS 60D @ ISO 100 & 1/50 s
                Canon EF-S 55-250mm ƒ4-5.6 IS STM @ 70mm & ƒ8'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0738a.jpg");'
                number='3' total='8' caption='Taken at 07.38h local time.

                Canon EOS 60D @ ISO 100 & 1/100 s
                Canon EF-S 55-250mm ƒ4-5.6 IS STM @ 80mm & ƒ8'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0738b.jpg");'
                number='4' total='8' caption='Taken at 07.38h local time.

                Canon EOS 60D @ ISO 100 & 1/250 s
                Canon EF-S 55-250mm ƒ4-5.6 IS STM @ 70mm & ƒ8'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0740.jpg");'
                number='5' total='8' caption='Taken at 07.40h local time.

                Canon EOS 60D @ ISO 100 & 1/60 s
                Canon EF-S 55-250mm ƒ4-5.6 IS STM @ 115mm & ƒ8'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0748.jpg");'
                number='6' total='8' caption='Taken at 07.48h local time.

                Canon EOS 60D @ ISO 100 & 1/320 s
                Canon EF-S 55-250mm ƒ4-5.6 IS STM @ 70mm & ƒ8'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0751.jpg");'
                number='7' total='8' caption='Taken at 07.51h local time.

                Canon EOS 60D @ ISO 100 & 1/60 s
                Canon EF-S 55-250mm ƒ4-5.6 IS STM @ 55mm & ƒ8'>
                <input type='radio' name='s' style='background-image: url("content/topic/photography/resource/nature/landscape/20240922/0754.jpg");'
                number='8' total='8' caption='Taken at 07.54h local time.

                Canon EOS 60D @ ISO 100 & 1/160 s
                Canon EF-S 55-250mm ƒ4-5.6 IS STM @ 165mm & ƒ8'>
            </div>
            <h3>Animals</h3>
        </div>
    </body>
</html>
